
.name {
   color: #000000;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 20px;
}

.pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%; //what is this?
  /*height: 200px;*/
  border-width: 1px;
  /*border-style: solid;*/
  /*border-radius: 50%;*/
}

.role{
  text-align: center;
  font-family: Helvetica, Arial;
  font-size: 15px;
}

.introP{
  text-align: center;
  font-family: Helvetica, Arial;
  font-size: 15px;
}
.links{
  text-align: center;
  font-family: Helvetica, Arial;
  font-size: 15px;
  margin: 20px;
}

.box{
  border-color: black;
  border-width: 1px;
  background-color: #C2c5CC;
  padding: 20px 40px 20px 40px;
  margin: 20px 200px 20px 200px;
  border-radius: 25px;
}
