
.name {
   color: #000000;
   font-family: Helvetica, Arial;
   font-size: 20px;
}
tempPic.resize {
  width:10px;
  height:50px;
  float: right;

}
.pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%; //what is this?
}

.role{
  text-align: center;
  font-family: Helvetica, Arial;
  font-size: 15px;
}

.introP{
  text-align: center;font-family: Helvetica, Arial;
  font-size: 15px;

}
